<link rel="stylesheet" href="../css/style/profile.css" />
<aside class="profile-card">
  <header>
    <a href="#">
      <img src="https://plus.unsplash.com/premium_photo-1676925924664-5a9464583510?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="hoverZoomLink" />
    </a>

    <h1><%= data.name %></h1>
  </header>
  <div class="profile-bio">
    <p><%= data.gender %></p>
    <p><%= data.age %></p>
    <p><%= data.phone %></p>
    <p><%= data.location %></p>
    <p>This profile was created at <%= data.formatDate(data.createdAt) %></p>
    <button onclick="window.location.href='/'">Home</button>
    <button onclick="window.location.href='/jobs'">Jobs</button>
    <br>
    <br>
    <a href="/profile/delete/<%= data.id %>">DELETE YOUR PROFILE</a>
  </div>
</aside>